/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/
/[Mm]emoryCaptures/
.utmp/
.vs/
.vsconfig
*.csproj
*.sln
*.slnx
*.suo
*.user
*.userprefs
*.pidb
.gradle/
*.apk
*.aab
.DS_Store
Thumbs.db
Assets/TextMesh Pro/
Assets/TextMesh Pro.meta